body{
   margin: 0;
   background-color: hsl(212, 45%, 89%);
}

.card{
    margin: auto;
    text-align: center;
    height: 500px;
    width: 300px;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 10px 10px  40px;
}

.card img{
    width: 295px;
    height: 300px;
    border-radius: 10px;
}
#heading{
    color: hsl(218, 44%, 22%);
   
}
#para{
    color:  hsl(220, 15%, 55%);
   padding: 20px;
   
}

.attribution{
    text-align: center;
    margin-top: 30px;
}